@model IEnumerable<TbBlog>


@foreach (var item in Model.Take(3))
{
	string sUrl = $"/blog/{item.Alias}-{item.BlogId}.html";
	<li class="d-flex">
		<div class="img">
			<img src="~/images/AnhCat/@item.Image" alt="@item.Detail">
		</div>
		<div class="content">
			<p class="title">
				<a href="@sUrl">
					@item.Title
				</a>
			</p>
			<div class="desc sub-news-content">
				@item.Description
			</div>
		</div>
	</li>

}