@model IEnumerable<WebWooden.Models.TbMenu>

<ul>
    @foreach (var item in Model.Where(i => i.Levels == 1))
    {
        <li >
            <a  href="@Url.Action(item.Alias, "Menu")">@item.Title</a>
        </li>
    }
</ul>

