<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="~/slick/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="~/slick/slick/slick-theme.css" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/css/global.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<link rel="stylesheet" type="text/css" href="~/css/responsive.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="icon" href="~/images/AnhCat/logo.png" type="image/png">
	<title>Xưởng Mộc Giá Tốt</title>
</head>
<head>


	<!-- CSS
	============================================ -->
	<!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
	<link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css" />
	<link rel="stylesheet" href="~/assets/css/vendor/Pe-icon-7-stroke.css" />

	<!-- Plugin CSS (Global Plugins Files) -->
	<link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
	<link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
	<link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
	<link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.min.css" />

	<!-- Style CSS -->
	<link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>

<header class="">
	<nav class="container">
		<div class="logo">
			<a href="index.html"><img src="~/images/AnhCat/logo.png" alt="Xưởng mộc giá tốt hoàng hoan"></a>
		</div>
		<div class="menu" data-show="0">
			<div class="d-flex h-100 justify-content-center align-items-center">
				<ul>
					<li class="active"><a href="index.html"> Trang chủ </a></li>
					@await Component.InvokeAsync("MenuTop")
					<li>
						<a href="#" id="open-search" class="search-menu" data-toggle="search-form">Search</a>

					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex align-items-center d-block d-lg-none">
			<button class="res-menu d-block d-lg-none">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</nav>
</header>
	<div id="main-content" class="wrap">
		@RenderBody()
	</div>

	<div id="search-nav" class="search-sidebar search-form-wrapper">
		<div id="site-search" class="site-nav-container search-form-open">
			<div class="site-nav-container-last">
				<p class="title">Tìm kiếm</p>
				<div class="search-box wpo-wrapper-search">
					<form action="/search" class="searchform searchform-categoris ultimate-search navbar-form">
						<div class="wpo-search-inner">
							<input type="hidden" name="type" value="product">
							<input required="" id="inputSearchAuto" name="q" maxlength="40" autocomplete="off"
								   class="searchinput input-search search-input" type="text" size="20"
								   placeholder="Tìm kiếm sản phẩm...">
						</div>
						<button type="submit" class="btn-search btn" id="search-header-btn">
							<i class="fas fa-search"></i>
						</button>
					</form>

				</div>
			</div>
		</div>
		<button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng">
			<span class="hamburger-menu active" aria-hidden="true">
				<span class="bar animate">
					<a href="" id="close-search">X</a>
				</span>
			</span>
		</button>
	</div>
	<div id="site-overlay" class="site-overlay"></div>

	<!-- FOOTER -->
	<footer class="w-100" style="background:#363636">
		<div class="container">
			<div class="row mt-3 mb-3">
				<div class="col-md-6">
					<h5>
						THÔNG TIN CHUNG
						<span class="line-remove" style="width: 78px; "></span>
					</h5>
					<h4 class="mt-2 pt-2 com-name">CÔNG TY TNHH HOÀNG HOAN</h4>
					<p class="com-phone">
						<i class="fas fa-phone-alt"></i>
						<a href="#" title="0999.999.999">0999 999 999</a>
					</p>
					<p class="com-email">
						<i class="fas fa-envelope"></i>
						<a href="#" title="cskh@hoanghoan.vn">cskh@hoanghoan.vn</a>
					</p>
					<address class="com-address">
						<i style="width: 22px;" class="fas fa-map-marker-alt"></i>Số 1, Nguyễn Trãi, Thanh Xuân, Hà
						Nội
					</address>
				</div>
				<div class="col-md-3">
					<h5>
						VỀ CHÚNG TÔI
						<span class="line-remove" style="width: 78px; "></span>
					</h5>
					<ul>
						<li><a href="about.html" title="Giới thiệu">Giới thiệu</a></li>
						<li><a href="product.html" title="Sản phẩm">Sản phẩm</a></li>
						<li><a href="news.html" title="Tin tức">Tin tức</a></li>
						<li><a href="partner.html" title="Đối tác">Đối tác</a></li>
						<li><a href="contact.html" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>
						KẾT NỐI VỚI CHÚNG TÔI
						<span class="line-remove" style="width: 78px; "></span>
					</h5>
					<div class="mt-4 social-icon">
						<a href="#" target="_blank">
							<i class="fab fa-facebook-square"></i>
						</a>
						<a href="#" target="_blank">
							<i class="fab fa-twitter-square"></i>
						</a>
						<a href="#" target="_blank">
							<i class="far fa-envelope"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>
<!-- Global Vendor, plugins JS -->
<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->
<!-- Vendor JS -->
<script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="~/assets/js/vendor/jquery.waypoints.js"></script>

<!--Plugins JS-->
<script src="~/assets/js/plugins/wow.min.js"></script>
<script src="~/assets/js/plugins/jquery-ui.min.js"></script>
<script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="~/assets/js/plugins/jquery.nice-select.js"></script>
<script src="~/assets/js/plugins/parallax.min.js"></script>
<script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!--Main JS (Common Activation Codes)-->
<script src="~/assets/js/main.js"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/bf61fecb7c.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
<!-- JQuery -->
<script type="text/javascript" src="~/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="~/js/jquery-migrate-1.2.1.min.js"></script>
<!-- Slick -->
<script type="text/javascript" src="~/slick/slick/slick.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
<script>
	document.getElementById('site-close-handle').addEventListener('click', function () {
		// Đóng class search-sidebar
		document.getElementById('search-nav').classList.remove('search-sidebar');
		// Hoặc ẩn phần tử
		// document.getElementById('search-nav').style.display = 'none';

		// Mở class chính bằng cách thêm class mới vào body
		document.body.classList.add('box-body');
	});



</script>
<!-- Script -->
<script type="text/javascript" src="~/js/javascript.js"></script>

</html>